ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

.bg-img {
  background-color: var(--ion-color-light);
  background-size: cover;
  background-repeat: no-repeat;
  border: 6px solid var(--ion-color-light-shade);
  border-radius: 16px;
  background-position: center center;
  height: 150px;
}

@media (min-width: 992px) {

  .bg-img {
    height: 300px;
  }

}